nav.val {
  position: fixed;
  display: flex;
  padding: 0 10px;
  align-items: center;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #bfbfbf;
  box-shadow: -1px -12px 10px 10px black;
  color: white;

  &.purple {
    background-color: rgb(110, 76, 155);
  }

  &.blue {
    background-color: #29446f;
  }
}