@import '../themes.scss';

nav.val {
  position: fixed;
  display: flex;
  padding: 0 10px;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #bfbfbf;
  box-shadow: -1px -12px 10px 10px black;
  color: white;

  & > * {
    margin-right: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }

  & > :first-child {
    margin-right: 33px;
  }

  &.purple {
    background-color: rgb(110, 76, 155);
  }

  &.blue {
    background-color: map-get($map: $blue, $key: 'navbar');

    & > *:not(.val-search):hover {
      background-color: map-get($map: $blue, $key: 'navbarHover');
    }

    & > :first-child:hover {
      background-color: map-get($map: $blue, $key: 'navbar');
    }

    div.val.hamburger:hover {
      background-color: map-get($map: $blue, $key: 'navbarHover');
    }
  }

  input.val-search {
    box-shadow: none;
    margin-bottom: 0;
    cursor: text;
    padding: 10px;
    width: 15%;
    height: 65%;

    &.rounded {
      box-shadow: none;
      margin-bottom: 0;
      cursor: text;
      padding: 10px;
      width: 15%;
      height: 70%;
    }
  }
}

div.val.hamburger {
  display: none;
  position: absolute;
  transform: rotate(90deg);
  align-self: center;
  right: 40px;
  font-size: 170%;
  cursor: pointer;
  user-select: none;
  letter-spacing: 1.5px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  nav.val > *:not(:first-child) {
    display: none;
  }

  div.val.hamburger {
    display: block;
  }
}