button.val {
    background-color: #bfbfbf;
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 100px;
    color: #6b6b6b;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #b0b0b0;
    }

    &:active {
        background-color: #9e9e9e;
    }

    &.blue {
        background-color: #438abf;
        color: white;

        &:hover {
            background-color: #3978a8;
        }

        &:active {
            background-color: #316b97;
        }
    }
    
    &.green {
        background-color: #339c38;
        color: white;

        &:hover {
            background-color: #309135;
        }

        &:active {
            background-color: #2b822f;
        }
    }

    &.yellow {
        background-color: #fbbd08;
        color: white;

        &:hover {
            background-color: #eeb50b;
        }

        &:active {
            background-color: #dda90d;
        }
    }

    &.red {
        background-color: #cf2929;
        color: white;

        &:hover {
            background-color: #c02525;
        }

        &:active {
            background-color: #ad2020;
        }
    }
}