button.val {
    display: inline-block;
    background-color: #bfbfbf;
    min-width: 120px;
    min-height: 45px;
    border: none;
    border-radius: 100px;
    color: #6b6b6b;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #b0b0b0;
    }

    &:active {
        background-color: #9e9e9e;
    }

    &.inverted {
        
        &.blue {
            background-color: transparent;
            border: 1px solid #438abf;
            color: #438abf;

            &:hover {
                background-color: transparent;
                border: 1px solid #3978a8;
                color: #3978a8;
            }
    
            &:active {
                background-color: transparent;
                border: 1px solid #316b97;
                color: #316b97;
            }
        }
    }

    &.blue {
        background-color: #438abf;
        color: white;

        &:hover {
            background-color: #3978a8;
        }

        &:active {
            background-color: #316b97;
        }
    }
    
    &.green {
        background-color: #339c38;
        color: white;

        &:hover {
            background-color: #309135;
        }

        &:active {
            background-color: #2b822f;
        }
    }

    &.yellow {
        background-color: #fbbd08;
        color: white;

        &:hover {
            background-color: #eeb50b;
        }

        &:active {
            background-color: #dda90d;
        }
    }

    &.red {
        background-color: #cf2929;
        color: white;

        &:hover {
            background-color: #c02525;
        }

        &:active {
            background-color: #ad2020;
        }
    }

    &.black {
        background-color: black;
        color: white;

        &:hover {
            background-color: #141414;
        }

        &:active {
            background-color: #242424;
        }
    }

    &.purple {
        background-color: #8722ba;
        color: white;

        &:hover {
            background-color: #7a1ea8;
        }

        &:active {
            background-color: #6d1b96;
        }
    }

    &.violet {
        background-color: #7b5f96;
        color: white;

        &:hover {
            background-color: #6d5485;
        }

        &:active {
            background-color: #634d78;
        }
    }

    &.teal {
        background-color: #67b5a8;
        color: white;

        &:hover {
            background-color: #5ca195;
        }

        &:active {
            background-color: #57998e;
        }
    }

    &.orange {
        background-color: #d48919;
        color: white;

        &:hover {
            background-color: #cc8416;
        }

        &:active {
            background-color: #c27e15;
        }
    }

    &.brown {
        background-color: #915411;
        color: white;

        &:hover {
            background-color: #8c510f;
        }

        &:active {
            background-color: #80490d;
        }
    }
}