$blue: (
  button: #438abf,
  buttonHover: #3978a8,
  buttonActive: #316b97,
  navbar: #6486bb,
  navbarHover: #5b7aac
);

$purple: (
  button: #8722ba,
  buttonHover: #7a1ea8,
  buttonActive: #6d1b96,
  navbar: #6d1b96,
  navbarHover: #7a21a7
);
